.font{font-family: "Hind Madurai", sans-serif;}
.container{ max-width: 1280px;margin: auto;box-sizing: border-box;scroll-behavior: smooth;}
.top-h1{font-weight:bolder;font-size: 16px;color: #006747;}
.top-logo{height: 50px;width: 50px;}
.top-container{ display: flex; gap: 10px;}
.top-right-ul{display: flex;list-style: none;text-decoration: none;gap: 20px;}









@media (max-width:1080px){ .cards{grid-template-columns:repeat(2,1fr)} }
@media (max-width:720px){ .main-grid{grid-template-columns:1fr; } .cards{grid-template-columns:1fr} .sidebar{order:2} }